* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body {
  background: url('./images/nature.jpg') no-repeat center center fixed;;
  background-size: cover;
}

h1, #current-temp, #highLow-temp, .day {
  color: #d5f8f8;
  text-shadow: 2px 2px 0px #000,
               -1px -1px 0px #000,
               2px -2px 0px #000,
               -2px 2px 0px #000;
}


h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}

.search {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

#search-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px black solid;
  cursor: pointer;
}

#search-button:hover {
  background-color: gray;
  opacity: .7;
}

#search-weather {
  border-radius: 5px;
  border: none;
  border: 2px black solid;
  padding: 5px;
  background-color: #e2f8f8;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 30px;
}

#current-temp {
  font-size: 45px;
  font-weight: bold;
}

.fiveDayForecast {
  display: grid;
  margin-top: 50px;
  gap: 15px;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center ;
}

.day {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.day > header {
  font-size: 36px;
  font-weight: bold;
}

.container {
  font-size: 30px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.icon.cloud {
  background-image: url('./icons/cloud.svg');
  width: 48px;
  height: 48px;
  
}

.icon.rain {
  background-image: url('./icons/rainy.svg');
  width: 48px;
  height: 48px;
}

.icon.snow {
  background-image: url('./icons/snowy.svg');
  width: 48px;
  height: 48px;
}

.icon.thunderstorm {
  background-image: url('./icons/thunderstorm.svg');
  width: 48px;
  height: 48px;
}


